<!DOCTYPE html>
<html>
<head>
    <title><?= $this->fetch('title') ?></title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <style>
      body {
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
      }
    </style>
</head>
<body>
  <?//= $value ?>
  <br/>
    <?= $this->fetch('numero-ordine') ?>
    <br/>
  <p>
    Liftservice
  </p>
    <img src="https://liftservice-test.cdinformatica.app/img/lift-service-italia-logo.png" width="45px" >
</body>
</html>