<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\DocumentsOrderSupplier $documentsOrderSupplier
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $documentsOrderSupplier->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $documentsOrderSupplier->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Documents Order Supplier'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="documentsOrderSupplier form large-9 medium-8 columns content">
    <?= $this->Form->create($documentsOrderSupplier) ?>
    <fieldset>
        <legend><?= __('Edit Documents Order Supplier') ?></legend>
        <?php
            echo $this->Form->control('order_supplier_id');
            echo $this->Form->control('documents_list_id');
            echo $this->Form->control('attachment');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
