
body {
    font-family: 'Titillium Web', sans-serif;
}

.card-shadow {
    border-radius: 2px;
/*     padding: 1.6em; */
    margin: 2rem;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}
.simple-shadow{
    border-radius: 2px;
    padding: 0.1em;
    margin: 0.2rem;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
}
/* .dataTables_buttons {
    display: none;
} */
.font-weight-bold {
    font-weight: 700!important;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 2px; }

.card-actions-todo{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 2px solid #4CC417;
  border-radius: 2px; }

.card-actions-todo7days{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 2px solid #FF9800;
  border-radius: 2px; }

.card-actions-expired{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 2px solid #FF0000;
  border-radius: 2px; }

.card-body .listview__item {
    padding: .25rem 1.2rem;
    transition: background-color .3s;
}
.modal-wrapper {
  position: absolute;
  z-index: 1060;
}


