<script type="text/javascript">
  

$(document).ready(function(){
  $("#button").click(function(){
    $("#tabellaDinamica > tbody").append("<tr><td>Cazzo</td></tr>");
  });
});

</script>
<div id="button" data-role="button">Aggiungi</div>
<table class="table" id="tabellaDinamica">
  <thead>
    <tr>
    <th>Descrizione</th>
    <th>Servizio</th>
    <th>Serial Number</th>
    <th>Quantità</th>
    <th>Anno corrente</th>
    <th>Anno prossimo</th>
    <th>Totale anno corrente</th>
    <th>Totale anno prossimo</th>
    </tr>
  </thead>
<tbody>
<tr>
<input class="form-control" type="hidden" name="contract_products[1][contract_code]" value="0001">                                
  <td>
      <div class="form-group text">
        <label for="contract-products-1-description"></label>
        <input class="form-control" type="text" name="contract_products[1][description]" empty="1" id="contract-products-1-description">
        <i class="form-group__bar"></i>
      </div>
  </td>
<td>
  <div class="form-group checkbox">
    <input class="form-control" type="hidden" name="contract_products[1][service]" value="0">
    <i class="form-group__bar"></i>
    <input type="checkbox" name="contract_products[1][service]" value="1" class="js-switch" data-color="#2A9EFB" data-size="small" data-switchery="true" style="display: none;" id="contract-products-1-service">
    <span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;">
      <small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small>
    </span>
    <label for="contract-products-1-service" class="radio__label"></label>
  </div>
  </td>
<td>
  <div class="form-group text"><label for="contract-products-1-serial-number"></label>
    <input class="form-control" type="text" name="contract_products[1][serial_number]" empty="1" id="contract-products-1-serial-number">
    <i class="form-group__bar"></i>
  </div>
  </td>
<td>
  <div class="form-group number"><label for="contract-products-1-quantity"></label>
    <input class="form-control" type="number" name="contract_products[1][quantity]" empty="1" min="0" step="1" id="contract-products-1-quantity">
    <i class="form-group__bar"></i>
  </div>
  </td>
<td>
  <div class="form-group number"><label for="contract-products-1-item-price"></label>
    <input class="form-control" type="number" name="contract_products[1][item_price]" empty="1" min="0" step="0.01" id="contract-products-1-item-price">
    <i class="form-group__bar"></i>
  </div>
  </td>
<td>
  <div class="form-group number"><label for="contract-products-1-item-price-next-year"></label>
    <input class="form-control" type="number" name="contract_products[1][item_price_next_year]" empty="1" min="0" step="0.01" id="contract-products-1-item-price-next-year">
    <i class="form-group__bar"></i>
  </div>
  </td>
</tr>
<!-- <tr><input class="form-control" type="hidden" name="contract_products[2][contract_code]" value="0001">                                <td><div class="form-group text"><label for="contract-products-2-description"></label><input class="form-control" type="text" name="contract_products[2][description]" empty="1" id="contract-products-2-description"><i class="form-group__bar"></i></div></td>
<td><div class="form-group checkbox"><input class="form-control" type="hidden" name="contract_products[2][service]" value="0"><i class="form-group__bar"></i><input type="checkbox" name="contract_products[2][service]" value="1" class="js-switch" data-color="#2A9EFB" data-size="small" data-switchery="true" style="display: none;" id="contract-products-2-service"><span class="switchery switchery-small" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small></span><label for="contract-products-2-service" class="radio__label"></label></div></td>
<td><div class="form-group text"><label for="contract-products-2-serial-number"></label><input class="form-control" type="text" name="contract_products[2][serial_number]" empty="1" id="contract-products-2-serial-number"><i class="form-group__bar"></i></div></td>
<td><div class="form-group number"><label for="contract-products-2-quantity"></label><input class="form-control" type="number" name="contract_products[2][quantity]" empty="1" min="0" step="1" id="contract-products-2-quantity"><i class="form-group__bar"></i></div></td>
<td><div class="form-group number"><label for="contract-products-2-item-price"></label><input class="form-control" type="number" name="contract_products[2][item_price]" empty="1" min="0" step="0.01" id="contract-products-2-item-price"><i class="form-group__bar"></i></div></td>
<td><div class="form-group number"><label for="contract-products-2-item-price-next-year"></label><input class="form-control" type="number" name="contract_products[2][item_price_next_year]" empty="1" min="0" step="0.01" id="contract-products-2-item-price-next-year"><i class="form-group__bar"></i></div></td>
</tr> -->

</tbody>
</table>